body { 
	width: 100%;
	margin-top: 50px;
 }
 
 
 
 
 
.main-content {
	margin-top: 20px;
}
 
.navbar-brand {
	font-family: 'Wallpoet', cursive;
	font-weight: bold;
	transition: 1s;
}
#login {
	background:#686565;
	color: #eee;
}
#login:hover {
	color: #fff;
	background:#000;
}
.carousel-inner > .item > img {
	width: 100%;
}
.h2, h2 {
	font-family: Codystar, sans-serif;
	color: #eee;
	font-weight: bold;
	text-shadow: -2px 3px 3px #000;
	transition:1s;
}
#carousel-example-generic.carousel.slide {
	border-bottom: 3px solid #F0F0F0;
}
#container_about_us {
	margin: 3%;
}

#panel_about_us img{
	width: 15%;
	float:left;
	margin: 0px 10px 1px 0px;
}
#panel_about_us p{
	line-height: 25px;
}
#tooltip1, #tooltip2 {
	color: #666;
}
#tooltip1:hover, #tooltip2:hover {
	text-decoration: none;
	border-bottom:1px dotted #666;
}

.row.same-height-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row.same-height-columns > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.thumbnail {
	transition: 1s;
	height: 100%;
	position: relative;
}
.thumbnail > img {
	width: 100%;
	transition: 1s;
}

.thumbnail p {
	margin-bottom: 40px;
	transition: 1s;
}

a.btn.btn-default {
	transition: 1s;
}
.more-thumbnail {
	position: absolute;
	bottom: 10px;
	right: 10px;
}



a#arrow-up > img {
	width: 30px;
	position: fixed;
	bottom: 50px;
	right: 20px;
}
#footer {
    text-align: center;
    background:#666;
	color:#fff;
	margin: 0;
	padding: 10px;
	border-top: 2px solid #eee;
}

@media only screen and (max-width: 1030px) {
	#main-navbar .navbar-toggle {display: block;}
	#main-navbar .navbar-collapse {display: none !important;}
	#main-navbar .navbar-header {float: none;}
	.h2, h2 {font-size: 500%; padding: 10px 20px;}
}


@media only screen and (min-width: 961px) {
	.navbar-brand {font-size: 250%;}
	.h2, h2 {font-size: 500%; padding: 10px 20px;}
}

/* Tablets/iPads (Landscape and Portrait)*/
@media only screen and (min-width: 768px) and (max-width: 960px){
	.navbar-brand {font-size: 350%;}
	.h2, h2 {font-size: 500%; padding: 10px 20px;}
}

/* Smaller tablets(Landscape and Portrait)*/
@media only screen and (min-width: 569px) and (max-width: 767px){
	.navbar-brand {font-size: 300%;}
	.h2, h2 {font-size: 400%; padding: 10px 20px;}
}


/* Smartphones (Landscape and Portrait)*/
@media only screen and (min-width: 371px) and (max-width: 568px){
	.navbar-brand {font-size: 210%;}
	.h2, h2 {font-size: 300%; padding: 0;}
}

 @media only screen and (min-width: 240px) and (max-width: 370px){
	.navbar-brand {font-size: 200%;}
	.h2, h2 {font-size: 150%; padding: 0;}
}